.bookImage__container
    display: inline-flex
    flex-direction: column
    width: 130px

.bookImage
    height: 154px
    width: 100px
    cursor: pointer
    box-shadow: 3.5px 2px 9px 3px #8a8888
    margin: auto
    transition: 0.4s
    &:hover
        transform: scale(1.15)
        transition: 0.4s

.bookImage__bigContainer
    display: inline-flex
    flex-direction: column
    width: 180px

.bookImageBig
    height: 250px
    width: 162px
    cursor: pointer
    box-shadow: 3.5px 2px 9px 3px #8a8888
    margin: auto
    transition: 0.4s
    &:hover
        transform: scale(1.15)
        transition: 0.4s

.book__name
    margin-top: 2px
    margin-bottom: 0
    font-weight: 700
    font-size: 20px
    text-align: center
    font-family: "Zilla Slab", Lora, georgia, times, serif
    &:hover
        color: #0D6EFD
        cursor: pointer

.book__author
    margin: 0
    margin-top: 7px
    font-family: "Zilla Slab", Lora, georgia, times, serif

.book__price
    margin: 3%
    color: #0D6EFD
    font-family: "Roboto Condensed", "Arial Narrow", arial, sans-serif
    font-style: italic
    font-size: 20px

.book__button
    margin-bottom: 30px
    color: white
    background-color: #0D6EFD
    border: none
    border-radius: 3px
    padding: 5px
    transition: 0.4s
    font-weight: 400
    font-size: 17px
    font-family: "Roboto Condensed", "Arial Narrow", arial, sans-serif
    &:hover
        background-color: #0d61df

@media (max-width:500px)
    .bookImageBig
        width: 100px
        height: 154px
        display: block

    .book__button
        padding: 2px
        width: 130px !important
