// .theHeader
    // background-color: violet
//     position: fixed

.nav
    margin-top: 1%
    display: inline-flex
    justify-content: flex-end

.header__left
    display: flex
    align-items: center
    margin-left: 1.5%
    height: 58px

.header__hour
    padding: 15px

.header__center
    display: flex
    justify-content: center
    margin: auto

.header__right
    padding: 1%
    display: contents

    > Button
        margin: 1%
        text-decoration: none

//     .header__right
//     // display: inline-flex
//     display: flex

// .header__link
//     padding: 1%

//     > Button
//         margin: 1%
//         color: tomato
//         display: inline
