.customNav
    margin-top: 1%
    display: flex
    justify-content: flex-end

.header__left
    display: flex
    align-items: center
    margin-left: 1.5%
    height: 58px

.header__hour
    padding: 15px

.header__center
    display: flex
    justify-content: center
    margin: auto

.header__right
    display: contents
    flex-direction: column
    margin-top: 3%
    margin-bottom: 3%

.header__links
    display: contents

.header__link
    display: contents
    text-decoration: none
    > Button
        margin: 1%
        text-decoration: none
        font-family: "Roboto Condensed", "Arial Narrow", arial, sans-serif
        font-weight: 700
        font-size: 18px

.header__name > h6
    font-family: "Roboto Condensed", "Arial Narrow", arial, sans-serif
    font-weight: 700
    font-size: 18px

.exitIcon
    display: inline
    margin-right: 40px
    color: black
    &:hover
        color: #0d6efd
        cursor: pointer

@media (max-width: 600px)
    .customNav
        display: block
        flex-direction: column
        height: 167px
    .header__center
        display: block
    .header__left
        margin-left: 2.5%
        justify-content: space-between

    .header__links
        display: inline-flex
        justify-content: center
        > Button
            margin: auto
    .header__right
        display: flex
        margin-top: 1%
        margin-bottom: 0%
    .header__name
        justify-content: center

    .exitIcon
        font-size: 25px !important
